@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background-test {
    width: 300px;
    height: 300px;
    background-image: url('../images/leaf.webp');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
}

.header-icons .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url('../images/sprite.svg');
}

img {
    max-width: 100%;
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header .logo {
    font-size: 24px;
    color: #4CAF50;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #817d7d;
    font-size: 18px;
    position: relative;
    padding: 10px;
}

nav ul li:hover .dropdown-menu,
nav ul li:hover .submenu {
    display: block;
}

.dropdown-menu,
.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 1000;
}

@media (max-width: 320px) {
    .container {
        padding: 10px;
    }
}
  
@media (max-width: 540px) {
    .container {
        padding: 15px;
    }
}
  
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}
  
@media (max-width: 992px) {
    .container {
        padding: 25px;
    }
}
  
@media (max-width: 1200px) {
    .container {
        padding: 30px;
    }
}
